table{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
}

table tbody th{
    border-radius: 100px;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}
